.Buttons {
    width: 100vw;
    height: auto;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 2rem;
}

.btns {
    width: auto;
    height: 43px;
    float: right;
    border-radius: 6px;
    color: white;
    padding: 0.3rem 1.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-family: 'yekan_Medium';
    user-select: none;
}

.btns.success {
    background-color: #38cb6e;
}

.btns.error {
    background-color: #eb3d5f;
}

.btns.warning {
    background-color: #f90;
}

.btns.dark {
    background-color: #0b233e;
    transition: 0.2s ease-in-out;
}

body.dark .btns.dark {
    background-color: white;
    color: #0b233e;
}

@media(max-width: 600px)
{
    .Buttons {
        flex-wrap: wrap;
    }
}