@font-face {
    font-family: 'yekan_Medium';
    src: url(./../font/yekanBakh/Yekan-Bakh-FaNum-05-Medium.woff);
}

:root {
    --toast-success: #38cb6e;
    --toast-error: #eb3d5f;
    --toast-warning: #f90;
    --toast-bg-light: white;
    --toast-bg-dark: #0e2338;
    --dark-bg: #0e2338;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'yekan_Regular';
}


body {
    background-color: var(--bg);
    direction: rtl;
    transition: 0.2s ease-in-out;
    
}


body.dark {
    background-color: var(--dark-bg);
    background-image: linear-gradient(to top, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.048));
}

#app {
    position: relative;
    overflow: clip;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
