
.NotificationContainer {
    width: 100%;
    height: auto;
    float: right;
    position: fixed;
    z-index: 1000;
    top: 15px;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    gap: 15px;
    padding: 0 1rem;
}